@import url(./../assets/css/wind.css);
@import url(./../assets/vendor/bootstrap-icons/bootstrap-icons.css);

html{
    background-color: var(--primary);
    color: var(--textcolor);
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(at top, rgba(30, 33, 232, 0.15), transparent, transparent, transparent);
    background-size: 150vw 400px;
    background-position: -25vw 0px;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    background-image: radial-gradient(circle, rgb(var(--base1-rgb) / 10%), transparent, transparent);
    background-size: 80vw 80vw;
    background-position: 10vw 20vh;
    background-repeat: no-repeat;
    animation: fluid-glow 20s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms infinite alternate-reverse;
}
@keyframes fluid-glow {
    25%{
        background-position: 1vw -10vh;
    }
    50%{
        background-image: radial-gradient(circle, rgb(var(--base1-rgb) / 12%), transparent, transparent);
        background-position: 80vw -20vh;
    }
    75%{
        background-position: 10vw 10vh;
    }
    100%{
        background-image: radial-gradient(circle, rgb(var(--base1-rgb) / 15%), transparent, transparent);
        background-position: 0px 20px;
    }
}
span.glass-tag{
    border: none;
    background-color: rgb(var(--base1-rgb) / 10%);
    padding: .6rem .6rem;
    border-radius: 1.5rem;
    font-size: small;
    justify-items: center;
    align-items: center;

}
span.glass-tag img{
    height: 5rem;
    width: 5rem;margin-right: 4px;
}
.features{
    display: grid;

}
.features img{
    border-radius: 1rem;
    opacity: .9;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-delay: .05s;
    height: 150px;
    width: 100%!important;
}
.features img:hover{
    opacity: 1;
    scale: 1.08;
}
button, a.btn{
    padding: .7rem 3rem;
    border: 1px solid var(--border);
    margin: 1rem;
    font-size: small;
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.05);
    border-radius: 5rem;
    color: white;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    cursor: pointer;
    backdrop-filter: blur(4px);
}
button:hover, a.btn:hover{
    background-color: white;
    color: var(--primary);
    padding: .7rem 3.5rem;
}